@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: .9rem;
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
}

p{
    font-family: 'Lexend', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2rem;
    margin-top: 2em;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2.5rem;
    margin-top: 1em;
}

.container{
    height: 95vh;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    background-color:hsl(0, 0%, 95%);
    font-family: 'Lexend', sans-serif;
    border: none;
    border-radius: 25px;
    margin-top: 5em;
    padding: 15px 30px;
    cursor: pointer;
}

.btn-sedans{
    color: hsl(31, 77%, 52%);
}

.btn-suv{
    color: hsl(184, 100%, 22%);
}

.btn-luxury{
    color: hsl(179, 100%, 13%)
}

.btn-sedans:hover{
    background-color: hsl(31, 100%, 60%);
    color: white;
}

.btn-suv:hover{
    background-color: hsl(184, 72%, 29%);
    color: white;
}

.btn-luxury:hover{
    background-color: hsl(179, 94%, 19%);
    color: white;
}

.sedans, 
.suv,
.luxury{
    padding: 50px;
}

.sedans{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 100%, 13%)
}

.attribution{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: lightseagreen;
    padding: 15px;
    font-family: 'Lexend', sans-serif;
}

.attribution a{
color: white;
}


@media (max-width: 1020px){
    body{
        height: 100%;
    }

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .sedans{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .luxury{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}

@media (max-width: 670px){
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
    }
    .sedans{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .luxury{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    .btn{
        margin-top: 2.5em;
    }
    p,
    h2{
        margin-top: 1em;
    }
}